#K {
    background-color: lightgoldenrodyellow;
    border-radius: 15px;
    width: 270px;
    padding-left: 20px;
    height: 175px;
    margin-left: 780px;
    margin-top: 17%;
    padding-top: 20px;
}
#I{
    background-color: darkturquoise;
    width: 190px;
    height: 55px;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 5px;
    padding-left: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}


#C{
    background-color: red;
    width: 150px;
    height: 40px;
    padding-left: 30px;
    margin-top: 10px;
    padding-top: 5px;
    margin-left: 22px;
    border-radius: 5px;
}